In [1]:
from pathlib import Path
import sys

import pandas as pd
import numpy as np

sys.path.append('../')
import payulator as pl


%load_ext autoreload
%autoreload 2

In [5]:
principal = 20000
interest = 0.099
compounding_freq = 'monthly'
payment_freq = 'quarterly'
num_payments = 3*12
fee = 350
start_date = '2018-02-06'

A = pl.compute_amortized_loan(principal, interest, compounding_freq, payment_freq,
  num_payments, fee, start_date)

A

{'interest_and_fee_total': 10893.73,
 'interest_and_fee_total/principal': 0.54,
 'interest_total': 10543.73,
 'payment_schedule':     payment_sequence payment_date  beginning_balance  principal_payment  \
 0                  1   2018-02-06           20000.00             349.34
 1                  2   2018-05-06           19650.66             358.06
 2                  3   2018-08-06           19292.60             366.99
 3                  4   2018-11-06           18925.60             376.15
 4                  5   2019-02-06           18549.45             385.54
 5                  6   2019-05-06           18163.91             395.16
 6                  7   2019-08-06           17768.75             405.02
 7                  8   2019-11-06           17363.73             415.13
 8                  9   2020-02-06           16948.60             425.49
 9                 10   2020-05-06           16523.11             436.11
 10                11   2020-08-06           16087.00             446.99
 11                12   2020-11-06           15640.01             458.14
 12                13   2021-02-06           15181.87             469.58
 13                14   2021-05-06           14712.29             481.30
 14                15   2021-08-06           14231.00             493.31
 15                16   2021-11-06           13737.69             505.62
 16                17   2022-02-06           13232.07             518.23
 17                18   2022-05-06           12713.84             531.17
 18                19   2022-08-06           12182.67             544.42
 19                20   2022-11-06           11638.25             558.01
 20                21   2023-02-06           11080.25             571.93
 21                22   2023-05-06           10508.31             586.20
 22                23   2023-08-06            9922.11             600.83
 23                24   2023-11-06            9321.28             615.83
 24                25   2024-02-06            8705.45             631.19
 25                26   2024-05-06            8074.26             646.95
 26                27   2024-08-06            7427.31             663.09
 27                28   2024-11-06            6764.22             679.64
 28                29   2025-02-06            6084.58             696.60
 29                30   2025-05-06            5387.98             713.98
 30                31   2025-08-06            4674.00             731.80
 31                32   2025-11-06            3942.21             750.06
 32                33   2026-02-06            3192.15             768.78
 33                34   2026-05-06            2423.37             787.96
 34                35   2026-08-06            1635.41             807.63
 35                36   2026-11-06             827.78             827.78

     interest_payment  ending_balance  notes
 0             499.09        19650.66    NaN
 1             490.38        19292.60    NaN
 2             481.44        18925.60    NaN
 3             472.28        18549.45    NaN
 4             462.90        18163.91    NaN
 5             453.28        17768.75    NaN
 6             443.41        17363.73    NaN
 7             433.31        16948.60    NaN
 8             422.95        16523.11    NaN
 9             412.33        16087.00    NaN
 10            401.45        15640.01    NaN
 11            390.29        15181.87    NaN
 12            378.86        14712.29    NaN
 13            367.14        14231.00    NaN
 14            355.13        13737.69    NaN
 15            342.82        13232.07    NaN
 16            330.20        12713.84    NaN
 17            317.27        12182.67    NaN
 18            304.02        11638.25    NaN
 19            290.43        11080.25    NaN
 20            276.50        10508.31    NaN
 21            262.23         9922.11    NaN
 22            247.60         9321.28    NaN
 23            232.61         8705.45    NaN
 24            217.24         8074.26    NaN
 25            201.49         7427.31    NaN
 26            185.35         6764.22    NaN
 27            168.80         6084.58    NaN
 28            151.84         5387.98    NaN
 29            134.46         4674.00    NaN
 30            116.64         3942.21    NaN
 31             98.38         3192.15    NaN
 32             79.66         2423.37    NaN
 33             60.47         1635.41    NaN
 34             40.81          827.78    NaN
 35             20.66            0.00    NaN  ,
 'payment_total': 30893.73,
 'periodic_payment': 848.44}

In [6]:
A['payment_schedule']

,payment_sequence,payment_date,beginning_balance,principal_payment,interest_payment,ending_balance,notes
0,1,2018-02-06,20000.00,349.34,499.09,19650.66,NaN
1,2,2018-05-06,19650.66,358.06,490.38,19292.60,NaN
2,3,2018-08-06,19292.60,366.99,481.44,18925.60,NaN
3,4,2018-11-06,18925.60,376.15,472.28,18549.45,NaN
4,5,2019-02-06,18549.45,385.54,462.90,18163.91,NaN
5,6,2019-05-06,18163.91,395.16,453.28,17768.75,NaN
6,7,2019-08-06,17768.75,405.02,443.41,17363.73,NaN
7,8,2019-11-06,17363.73,415.13,433.31,16948.60,NaN
8,9,2020-02-06,16948.60,425.49,422.95,16523.11,NaN
9,10,2020-05-06,16523.11,436.11,412.33,16087.00,NaN
10,11,2020-08-06,16087.00,446.99,401.45,15640.01,NaN
11,12,2020-11-06,15640.01,458.14,390.29,15181.87,NaN
12,13,2021-02-06,15181.87,469.58,378.86,14712.29,NaN
13,14,2021-05-06,14712.29,481.30,367.14,14231.00,NaN
14,15,2021-08-06,14231.00,493.31,355.13,13737.69,NaN
15,16,2021-11-06,13737.69,505.62,342.82,13232.07,NaN
16,17,2022-02-06,13232.07,518.23,330.20,12713.84,NaN
17,18,2022-05-06,12713.84,531.17,317.27,12182.67,NaN
18,19,2022-08-06,12182.67,544.42,304.02,11638.25,NaN
19,20,2022-11-06,11638.25,558.01,290.43,11080.25,NaN
20,21,2023-02-06,11080.25,571.93,276.50,10508.31,NaN
21,22,2023-05-06,10508.31,586.20,262.23,9922.11,NaN
22,23,2023-08-06,9922.11,600.83,247.60,9321.28,NaN
23,24,2023-11-06,9321.28,615.83,232.61,8705.45,NaN
24,25,2024-02-06,8705.45,631.19,217.24,8074.26,NaN
25,26,2024-05-06,8074.26,646.95,201.49,7427.31,NaN
26,27,2024-08-06,7427.31,663.09,185.35,6764.22,NaN
27,28,2024-11-06,6764.22,679.64,168.80,6084.58,NaN
28,29,2025-02-06,6084.58,696.60,151.84,5387.98,NaN
29,30,2025-05-06,5387.98,713.98,134.46,4674.00,NaN
30,31,2025-08-06,4674.00,731.80,116.64,3942.21,NaN
31,32,2025-11-06,3942.21,750.06,98.38,3192.15,NaN
32,33,2026-02-06,3192.15,768.78,79.66,2423.37,NaN
33,34,2026-05-06,2423.37,787.96,60.47,1635.41,NaN
34,35,2026-08-06,1635.41,807.63,40.81,827.78,NaN
35,36,2026-11-06,827.78,827.78,20.66,0.00,NaN

In [8]:
B = pl.compute_interest_only_loan(principal, interest, 'weekly', 52, 
  fee, start_date='2019-01-01')
B

{'interest_and_fee_total': 2330.0,
 'interest_and_fee_total/principal': 0.12,
 'interest_total': 1980.0,
 'payment_schedule':     payment_sequence payment_date  beginning_balance  principal_payment  \
 0                  1   2019-01-01              20000                  0
 1                  2   2019-01-08              20000                  0
 2                  3   2019-01-15              20000                  0
 3                  4   2019-01-22              20000                  0
 4                  5   2019-01-29              20000                  0
 5                  6   2019-02-05              20000                  0
 6                  7   2019-02-12              20000                  0
 7                  8   2019-02-19              20000                  0
 8                  9   2019-02-26              20000                  0
 9                 10   2019-03-05              20000                  0
 10                11   2019-03-12              20000                  0
 11                12   2019-03-19              20000                  0
 12                13   2019-03-26              20000                  0
 13                14   2019-04-02              20000                  0
 14                15   2019-04-09              20000                  0
 15                16   2019-04-16              20000                  0
 16                17   2019-04-23              20000                  0
 17                18   2019-04-30              20000                  0
 18                19   2019-05-07              20000                  0
 19                20   2019-05-14              20000                  0
 20                21   2019-05-21              20000                  0
 21                22   2019-05-28              20000                  0
 22                23   2019-06-04              20000                  0
 23                24   2019-06-11              20000                  0
 24                25   2019-06-18              20000                  0
 25                26   2019-06-25              20000                  0
 26                27   2019-07-02              20000                  0
 27                28   2019-07-09              20000                  0
 28                29   2019-07-16              20000                  0
 29                30   2019-07-23              20000                  0
 30                31   2019-07-30              20000                  0
 31                32   2019-08-06              20000                  0
 32                33   2019-08-13              20000                  0
 33                34   2019-08-20              20000                  0
 34                35   2019-08-27              20000                  0
 35                36   2019-09-03              20000                  0
 36                37   2019-09-10              20000                  0
 37                38   2019-09-17              20000                  0
 38                39   2019-09-24              20000                  0
 39                40   2019-10-01              20000                  0
 40                41   2019-10-08              20000                  0
 41                42   2019-10-15              20000                  0
 42                43   2019-10-22              20000                  0
 43                44   2019-10-29              20000                  0
 44                45   2019-11-05              20000                  0
 45                46   2019-11-12              20000                  0
 46                47   2019-11-19              20000                  0
 47                48   2019-11-26              20000                  0
 48                49   2019-12-03              20000                  0
 49                50   2019-12-10              20000                  0
 50                51   2019-12-17              20000                  0
 51                52   2019-12-24              20000              20000

     interest_payment  ending_balance  notes
 0              38.08           20000    NaN
 1              38.08           20000    NaN
 2              38.08           20000    NaN
 3              38.08           20000    NaN
 4              38.08           20000    NaN
 5              38.08           20000    NaN
 6              38.08           20000    NaN
 7              38.08           20000    NaN
 8              38.08           20000    NaN
 9              38.08           20000    NaN
 10             38.08           20000    NaN
 11             38.08           20000    NaN
 12             38.08           20000    NaN
 13             38.08           20000    NaN
 14             38.08           20000    NaN
 15             38.08           20000    NaN
 16             38.08           20000    NaN
 17             38.08           20000    NaN
 18             38.08           20000    NaN
 19             38.08           20000    NaN
 20             38.08           20000    NaN
 21             38.08           20000    NaN
 22             38.08           20000    NaN
 23             38.08           20000    NaN
 24             38.08           20000    NaN
 25             38.08           20000    NaN
 26             38.08           20000    NaN
 27             38.08           20000    NaN
 28             38.08           20000    NaN
 29             38.08           20000    NaN
 30             38.08           20000    NaN
 31             38.08           20000    NaN
 32             38.08           20000    NaN
 33             38.08           20000    NaN
 34             38.08           20000    NaN
 35             38.08           20000    NaN
 36             38.08           20000    NaN
 37             38.08           20000    NaN
 38             38.08           20000    NaN
 39             38.08           20000    NaN
 40             38.08           20000    NaN
 41             38.08           20000    NaN
 42             38.08           20000    NaN
 43             38.08           20000    NaN
 44             38.08           20000    NaN
 45             38.08           20000    NaN
 46             38.08           20000    NaN
 47             38.08           20000    NaN
 48             38.08           20000    NaN
 49             38.08           20000    NaN
 50             38.08           20000    NaN
 51             38.08               0    NaN  ,
 'payment_total': 22330.0}

In [9]:
pl.aggregate_payment_schedules([A['payment_schedule'], B['payment_schedule']], freq='M')

    payment_date  principal_payment  interest_payment  total_payment
0     2018-02-28             349.34            499.09         848.43
1     2018-03-31               0.00              0.00           0.00
2     2018-04-30               0.00              0.00           0.00
3     2018-05-31             358.06            490.38         848.44
4     2018-06-30               0.00              0.00           0.00
5     2018-07-31               0.00              0.00           0.00
6     2018-08-31             366.99            481.44         848.43
7     2018-09-30               0.00              0.00           0.00
8     2018-10-31               0.00              0.00           0.00
9     2018-11-30             376.15            472.28         848.43
10    2018-12-31               0.00              0.00           0.00
11    2019-01-31               0.00            190.40         190.40
12    2019-02-28             385.54            615.22        1000.76
13    2019-03-31               0.00            152.32         152.32
14    2019-04-30               0.00            190.40         190.40
15    2019-05-31             395.16            605.60        1000.76
16    2019-06-30               0.00            152.32         152.32
17    2019-07-31               0.00            190.40         190.40
18    2019-08-31             405.02            595.73        1000.75
19    2019-09-30               0.00            152.32         152.32
20    2019-10-31               0.00            190.40         190.40
21    2019-11-30             415.13            585.63        1000.76
22    2019-12-31           20000.00            152.32       20152.32
23    2020-01-31               0.00              0.00           0.00
24    2020-02-29             425.49            422.95         848.44
25    2020-03-31               0.00              0.00           0.00
26    2020-04-30               0.00              0.00           0.00
27    2020-05-31             436.11            412.33         848.44
28    2020-06-30               0.00              0.00           0.00
29    2020-07-31               0.00              0.00           0.00
..           ...                ...               ...            ...
76    2024-06-30               0.00              0.00           0.00
77    2024-07-31               0.00              0.00           0.00
78    2024-08-31             663.09            185.35         848.44
79    2024-09-30               0.00              0.00           0.00
80    2024-10-31               0.00              0.00           0.00
81    2024-11-30             679.64            168.80         848.44
82    2024-12-31               0.00              0.00           0.00
83    2025-01-31               0.00              0.00           0.00
84    2025-02-28             696.60            151.84         848.44
85    2025-03-31               0.00              0.00           0.00
86    2025-04-30               0.00              0.00           0.00
87    2025-05-31             713.98            134.46         848.44
88    2025-06-30               0.00              0.00           0.00
89    2025-07-31               0.00              0.00           0.00
90    2025-08-31             731.80            116.64         848.44
91    2025-09-30               0.00              0.00           0.00
92    2025-10-31               0.00              0.00           0.00
93    2025-11-30             750.06             98.38         848.44
94    2025-12-31               0.00              0.00           0.00
95    2026-01-31               0.00              0.00           0.00
96    2026-02-28             768.78             79.66         848.44
97    2026-03-31               0.00              0.00           0.00
98    2026-04-30               0.00              0.00           0.00
99    2026-05-31             787.96             60.47         848.43
100   2026-06-30               0.00              0.00           0.00
101   2026-07-31               0.00              0.00           0.00
102   2026-08-31             807.63             40.81         848.44
103   2026-09-30               0.00              0.00           0.00
104   2026-10-31               0.00              0.00           0.00
105   2026-11-30             827.78             20.66         848.44

[106 rows x 4 columns]