In [1]:
from pathlib import Path
import sys

import pandas as pd
import numpy as np

sys.path.append('../')
import payulator as pl


%load_ext autoreload
%autoreload 2

In [2]:
# Test some

principal = 11000
interest = 0.099
compounding_freq = 'monthly'
payment_freq = 'monthly'
num_payments = 3*12
fee = 350
start_date = '2018-03-06'

A = pl.compute_amortized_loan(principal, interest, compounding_freq, payment_freq, num_payments, 
  fee, start_date)

A

{'interest_and_fee_total': 2109.22,
 'interest_and_fee_total/principal': 0.19,
 'interest_total': 1759.22,
 'payment_schedule':     payment_sequence payment_date  beginning_balance  principal_payment  \
 0                  1   2018-03-06           11000.00             263.67
 1                  2   2018-04-06           10736.33             265.85
 2                  3   2018-05-06           10470.48             268.04
 3                  4   2018-06-06           10202.44             270.25
 4                  5   2018-07-06            9932.18             272.48
 5                  6   2018-08-06            9659.70             274.73
 6                  7   2018-09-06            9384.97             277.00
 7                  8   2018-10-06            9107.98             279.28
 8                  9   2018-11-06            8828.69             281.59
 9                 10   2018-12-06            8547.11             283.91
 10                11   2019-01-06            8263.20             286.25
 11                12   2019-02-06            7976.95             288.61
 12                13   2019-03-06            7688.33             290.99
 13                14   2019-04-06            7397.34             293.39
 14                15   2019-05-06            7103.94             295.82
 15                16   2019-06-06            6808.13             298.26
 16                17   2019-07-06            6509.87             300.72
 17                18   2019-08-06            6209.16             303.20
 18                19   2019-09-06            5905.96             305.70
 19                20   2019-10-06            5600.26             308.22
 20                21   2019-11-06            5292.04             310.76
 21                22   2019-12-06            4981.28             313.33
 22                23   2020-01-06            4667.95             315.91
 23                24   2020-02-06            4352.04             318.52
 24                25   2020-03-06            4033.52             321.15
 25                26   2020-04-06            3712.37             323.80
 26                27   2020-05-06            3388.58             326.47
 27                28   2020-06-06            3062.11             329.16
 28                29   2020-07-06            2732.95             331.88
 29                30   2020-08-06            2401.07             334.61
 30                31   2020-09-06            2066.46             337.37
 31                32   2020-10-06            1729.08             340.16
 32                33   2020-11-06            1388.93             342.96
 33                34   2020-12-06            1045.96             345.79
 34                35   2021-01-06             700.17             348.65
 35                36   2021-02-06             351.52             351.52

     interest_payment  ending_balance  notes
 0              90.75        10736.33    NaN
 1              88.57        10470.48    NaN
 2              86.38        10202.44    NaN
 3              84.17         9932.18    NaN
 4              81.94         9659.70    NaN
 5              79.69         9384.97    NaN
 6              77.43         9107.98    NaN
 7              75.14         8828.69    NaN
 8              72.84         8547.11    NaN
 9              70.51         8263.20    NaN
 10             68.17         7976.95    NaN
 11             65.81         7688.33    NaN
 12             63.43         7397.34    NaN
 13             61.03         7103.94    NaN
 14             58.61         6808.13    NaN
 15             56.17         6509.87    NaN
 16             53.71         6209.16    NaN
 17             51.23         5905.96    NaN
 18             48.72         5600.26    NaN
 19             46.20         5292.04    NaN
 20             43.66         4981.28    NaN
 21             41.10         4667.95    NaN
 22             38.51         4352.04    NaN
 23             35.90         4033.52    NaN
 24             33.28         3712.37    NaN
 25             30.63         3388.58    NaN
 26             27.96         3062.11    NaN
 27             25.26         2732.95    NaN
 28             22.55         2401.07    NaN
 29             19.81         2066.46    NaN
 30             17.05         1729.08    NaN
 31             14.26         1388.93    NaN
 32             11.46         1045.96    NaN
 33              8.63          700.17    NaN
 34              5.78          351.52    NaN
 35              2.90            0.00    NaN  ,
 'payment_total': 13109.22,
 'periodic_payment': 354.42}

In [3]:
# Test some

principal = 30000
interest = 0.1
payment_freq = 'monthly'
num_payments = 13
fee = 0
start_date = '2018-04-06'

A = pl.compute_interest_only_loan(principal, interest, payment_freq, num_payments, 
  fee, start_date)

A

{'interest_and_fee_total': 3250.0,
 'interest_and_fee_total/principal': 0.11,
 'interest_total': 3250.0,
 'payment_schedule':     payment_sequence payment_date  beginning_balance  principal_payment  \
 0                  1   2018-04-06              30000                  0
 1                  2   2018-05-06              30000                  0
 2                  3   2018-06-06              30000                  0
 3                  4   2018-07-06              30000                  0
 4                  5   2018-08-06              30000                  0
 5                  6   2018-09-06              30000                  0
 6                  7   2018-10-06              30000                  0
 7                  8   2018-11-06              30000                  0
 8                  9   2018-12-06              30000                  0
 9                 10   2019-01-06              30000                  0
 10                11   2019-02-06              30000                  0
 11                12   2019-03-06              30000                  0
 12                13   2019-04-06              30000              30000

     interest_payment  ending_balance  notes
 0              250.0           30000    NaN
 1              250.0           30000    NaN
 2              250.0           30000    NaN
 3              250.0           30000    NaN
 4              250.0           30000    NaN
 5              250.0           30000    NaN
 6              250.0           30000    NaN
 7              250.0           30000    NaN
 8              250.0           30000    NaN
 9              250.0           30000    NaN
 10             250.0           30000    NaN
 11             250.0           30000    NaN
 12             250.0               0    NaN  ,
 'payment_total': 33250.0}

In [4]:
principal = 11000
interest = 0.099
compounding_freq = 'monthly'
payment_freq = 'monthly'
num_years = 2
fee = 350
start_date = '2018-03-06'

A = pl.compute_amortized_loan(principal, interest, compounding_freq, payment_freq, num_years, 
  fee, start_date)
B = pl.compute_amortized_loan(principal, interest, compounding_freq, 'weekly', num_years, 
  fee, '2019-03-07')

g = pl.aggregate_payment_schedules([A['payment_schedule'], B['payment_schedule']])
g

  payment_date  principal_payment  interest_payment  total_payment
0   2018-03-06            5477.41             90.75        5568.16
1   2018-04-06            5522.59             45.56        5568.15
2   2019-03-07            5494.79             20.88        5515.67
3   2019-03-14            5505.21             10.45        5515.66

In [5]:
# Someday/maybe create a Loan class and include ``loan_code`` as an attribute.
# Then log the contributing loan codes in a new column of ``aggregate_payment_schedules``